<html>
    <body>

     <div>
         <mat-toolbar color="primary" class="navbar">
             <span class="navbar-brand"><mat-icon>school</mat-icon>   College Management System</span>
        </mat-toolbar>
    </div>
        
    <div class="content">

       <marquee> <h1>Choose Your Option</h1></marquee>

<table class="container">
    <tr>
    <td>
        <img src="../../assets/img/adminlogin.webp" height="300" width="300"/>
    </td>
    <td>
        <img src="../../assets/img/facultylogin1.png" height="300" width="300"/>
    </td>
    <td>
        <img src="../../assets/img/studentlogin.webp" height="300" width="300"/>
    <td>
    </tr>
    <tr>
       <td> <button class="login"  routerLink="/login" routerLinkActive="active">Admin Login</button></td>
       <td><button class="login"  routerLink="/facultylogin" routerLinkActive="active">Faculty Login</button></td>
       <td><button class="login"  routerLink="/studentlogin" routerLinkActive="active">Student Login</button></td>
    </tr>

    <footer>
        <p><small>copyright$2023</small> OurCollege. All rights reserved.</p>
      </footer>
</table>
</div>
</body>
</html>

