<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" 
    integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
</head>


<body>
    <div>
      <mat-toolbar color="primary" class="navbar">
        <span class="navbar-brand"><mat-icon>school</mat-icon>   College Management System</span>

        <div class="spacer"></div>

        <button color="accent" routerLink="/facultyportal" routerLinkActive="active">Back to home</button>
      </mat-toolbar>
    </div>


    <section class="contact">
        <div class="content">
            <h2>Contact Us</h2>
            <p>Questions? Comments? We're here to help! Reach out to our dedicated team at ABC&#64;gmail.com 
                or give us a call at 506-170-2222 Your feedback matters, and we look forward to assisting 
                you.Join the conversation on social media Let's stay connected!
            </p>
        </div>
        <div class="container">
            <div class="info">
                <div class="box"> 
                    <div class="icon"><mat-icon> location_on</mat-icon></div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>2242 Financial District Road,<br>Gachibowli , Hyderabad ,<br>500032</p>
                    </div>       
                </div>

                <div class="box">
                    <div class="icon"><mat-icon> call</mat-icon></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>506-170-2222</p>
                    </div>
                </div>

                <div class="box">
                    <div class="icon"><mat-icon> email</mat-icon></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>ABCCollege#gmail.com</p>
                    </div>
                </div>

            </div>

            <div class="image">
                 <img src="../../assets/img/contact2.avif">
             </div>
         </div>

         <div class="location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60901.233299915766!2d78.29857452371968!3d17.
            444052299602145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93a276decedf%3A0x2c12e79e6f9344e2!
            2sGachibowli%2C%20Hyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1701799408505!5m2!1sen!2sin" width="600" 
            height="450" style="border:0;" allowfullscreen="" loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"></iframe>
         </div>
    </section>

    <footer>
        <p><small>copyright$2023</small> OurCollege. All rights reserved.</p>
      </footer>
    
</body>


