body {
    background-image: url("../../assets/img/studentdetailpage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0 16px;
    background-color: black;
    color: white;

}


.navbar-brand {
    font-size: 20px;
    font-weight: 500;
    margin-right: 16px;
    color: white;
}
.spacer {
    flex: 1 1 auto;
}

.homebutton {
    background-color:  rgb(236, 12, 98);
    color: white;
}

footer
{
    position: fixed;
    bottom:0;
    width:100%;
    height: 40px;
    background-color:black;
    text-align: center;
    color:white;
}

h2 {
    margin-left: 40%;
}

table {
    margin-left: 40%;
}

.content {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 20px;
    height: 85%
}