body
{
    background-image: url("../../assets/img/home.jpg") ;
  background-size:cover;
  background-position:center;
  

}
.content {
  background-color: rgba(0,0,0,0.6);
  color: white;
  width: 100%;
  height: 100%;
}

form {
  align-items: center;
  width: 550px;
  margin-left: 30%;
  border: 2px solid rgba(3, 3, 3, 0.9);
  color: rgb(10, 10, 10);
  box-shadow: 0 0 10px rgba(2, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px 40px;
  background-color: rgba(255,255,255,0.5);
} 


td{
padding:5px;

color: black;
} 

button {
  background-color:  rgb(236, 12, 98);
  color: white;
  margin-left: 200%;
}
