<body>
    <div class="content">
        <h1>Register Here.....!</h1>
        <form (ngSubmit)="onSubmit()">
            <table class="form-group">
                <tr>
                    <td>
                        <label>First Name:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="facobj.firstName" name="firstname">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Last Name:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="facobj.lastName" name="lastname">
                    </td>
                </tr>


                <tr>
                    <td>
                        <label>Age:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="facobj.age" name="age">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Email:</label>
                    </td>
                    <td>
                        <input type="email" class="form-control" [(ngModel)]="facobj.email" name="email">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Password:</label>
                    </td>
                    <td>
                        <input type="password" class="form-control" [(ngModel)]="facobj.password" name="password">
                    </td>
                </tr>

                <!-- <tr>
                    <td>
                        <label>DOB:</label>
                    </td>
                    <td>
                        <input type="date" class="form-control" [(ngModel)]="stud.dob" name="Date_of_birth">
                    </td>
                </tr> -->

                <tr>
                    <td>Gender</td>
                    <td>
                        <select name="Gender" [(ngModel)]="facobj.gender">
                            <option>Select Gender</option>
                            <option name="gender" class="form-control">
                                Male</option>
                            <option name="gender" class="form-control">
                                Female</option>
                            <option name="gender" class="form-control">
                                Others</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Mobile:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="facobj.phone_No" name="Mobile">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Qualificatio:</label>
                    </td>
                    <td>
                        <select name="course" [(ngModel)]="facobj.qualificaton">
                            <option>Select Your Course</option>
                            <option name="course" class="form-control">
                                B.Tech</option>
                            <option name="course" class="form-control">
                                M.Tech</option>
                            <option name="course" class="form-control">
                                Ph.D</option>
                            <option name="course" class="form-control">
                                B.E</option>
                            <option name="course" class="form-control">
                                B.S</option>
                            <option name="course" class="form-control">
                                M.E</option>
                            <option name="course" class="form-control">
                                M.S </option>
                            <option name="course" class="form-control">
                                MCA</option>

                        </select>
                        <!-- <input type="text" class="form-control" [(ngModel)]="stud.course" name="Course">  -->
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Subject:</label>
                    </td>
                    <td>

                        <select name="Subject" [(ngModel)]="facobj.subject" class="form-control">
                            <option>Select Your Course</option>
                            <option name="subject" class="form-control">
                                Engineering Mathmatics</option>
                            <option name="subject" class="form-control">
                                Engineering Chemistry</option>
                            <option name="subject" class="form-control">
                                Engineering Physics</option>
                            <option name="subject" class="form-control">
                                Information Science</option>
                            <option name="subject" class="form-control">
                                Blockchain</option>
                            <option name="subject" class="form-control">
                                Artificial Intelligence</option>
                            <option name="subject" class="form-control">
                                Robotics Engineering </option>
                            <option name="subject" class="form-control">
                                Structural Engineering</option>
                            <option name="subject" class="form-control">
                                Power Electonics</option>
                            <option name="subject" class="form-control">
                                Software Engineering</option>
                            <option name="subject" class="form-control">
                                Deep Learning</option>
                            <option name="subject" class="form-control">
                                Engineering Design</option>
                            <option name="subject" class="form-control">
                                Internet of Things</option>
                            <option name="subject" class="form-control">
                                Embedded Systems</option>
                            <option name="subject" class="form-control">
                                Cyber Security</option>
                            <option name="subject" class="form-control">
                                Web Technology</option>
                            <option name="subject" class="form-control">
                                JAVA Programming Language</option>
                            <option name="subject" class="form-control">
                                Python Programming Language</option>
                            <option name="subject" class="form-control">
                                C Programming Language</option>
                            <option name="subject" class="form-control">
                                C++ Programming Language</option>
                            <option name="subject" class="form-control">
                                Basic Electical and Elecronics</option>
                            <option name="subject" class="form-control">
                                Engineering Mechanics</option>


                        </select>



                    </td>
                </tr>


                <tr>
                    <td>
                        <label>salary:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="facobj.salary" name="FatherName">
                    </td>
                </tr>




                <tr>
                    <button class="btn btn-success" type="submit">Submit</button>
                </tr>

            </table>
        </form>
    </div>
</body>