body {
    background-image: url("../../assets/img/facultylist.png");
    background-size: cover;
    width: 2600px;
    height: 1200px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0 16px;
    background-color: black;
    color: white;
    position: fixed;
}


.navbar-brand {
    font-size: 20px;
    font-weight: 500;
    margin-right: 16px;
    color: white;
}
.spacer {
    flex: 1 1 auto;
}

.homebutton {
    background-color:  rgb(236, 12, 98);
    color: white;
}

footer
{
    position: fixed;
    bottom:0;
    width:100%;
    height: 40px;
    background-color:black;
    text-align: center;
    color:white;
}



table ,th ,td {
    margin-top: 5%;
    background: transparent;
    column-count: 2;
    color: white;
    
   
}



th {
    background-color:  rgb(236, 12, 98);
    color: white;
    
}

.container {
    margin: 20px 30px 20px 20px;
   margin-bottom: 40px;
   
}
 
.content {
    background-color: rgba(0, 0, 0, 0.6);
    width: 2600px;
    color: white;
}

 b {
    color: red;
 }


