body {
    background-image: url("../../assets/img/login.jpg");
    background-size:cover;
  background-position:center;

}


div
{

	text-align:left;
	padding-left:20px;
	padding-bottom:25px;
	padding-right:20px;
}

.container {
    text-align: center;
}

input {
	border-radius: 30px;
	width: 30%;
	height: 40px;
}

.eyeicon {
	position: relative;
	left: -35px;
	top:5px;
	cursor: pointer;
}