<html>

<body>
    <div class="container">

        <form (ngSubmit)="Studentlogin()">
            <div>
                <table class="container">
                
                    <tr>
                        <td>
                            <img src="../../assets/img/studentloginimg1.jpg">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="un">UserEmail : </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="un" name="un" placeholder="UserName" required
                                [(ngModel)]="studentemail" /><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pw">PassWord : </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input [type]="changetype?'password':'text'"  id="pw" name="pw" placeholder="PassWord" required
                                [(ngModel)]="studentpassword" />
                                <span class="eyeicon" (click)="viewpassword()"><mat-icon>visibility</mat-icon></span>
                                <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br><button type="submit" class="btn btn-primary" value="Login" >Login</button><br>
                        </td>

                    </tr>

                    <tr>
                        <td >
                            <small><a routerLink="/studentforgotpassword">Forget Password</a></small>
                        </td>
                    </tr>

                    <tr>
                        <td>
                       <br> New Student?Please register here....!
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button routerLink="/studentregister" routerLinkActive="active" class="btn btn-primary">Register</button>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</body>

</html>