body {
    background-image: url("../../assets/img/home.jpg");
    background-size: cover;
}
.content {
    background-color: rgba(0,0,0,0.6);
    color: white;
    height: 100%;
    width: 100%;
}

form {
    margin-left: 35%;
    margin-top: 5%;
}
 h1 {
    text-align: center;
 }

 button {
    background-color:  rgb(236, 12, 98);
    color: white;
    margin-left: 250%;
}