<body>
    <div>
      <mat-toolbar color="primary" class="navbar">
        <span class="navbar-brand"><mat-icon>school</mat-icon>   College Management System</span>

        <div class="spacer"></div>

        <a mat-button routerLink="/studentportal" routerLinkActive="active">Home</a>
        <a mat-button routerLink="/studentabout" routerLinkActive="active">About Us</a>
        <a mat-button routerLink="/studentcontact" routerLinkActive="active">Contact</a>
        <a mat-button routerLink="/viewfacultybystudent" routerLinkActive="active">Faculty-List</a>
        <button color="accent" routerLink="/loginoption" routerLinkActive="active">Logout</button>
      </mat-toolbar>
    </div>

    <marquee direction="left"><b>Wellcome to ABC College</b> </marquee>

    <footer>
        <p><small>copyright$2023</small> OurCollege. All rights reserved.</p>
      </footer>
    
</body>
